@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Itim');

h2 {padding-left: 3%; font-size: 35px;}
h3 { padding-left: 8%; }

body {font-family: 'Goudy Bookletter 1911', serif;}
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: #727878; opacity: 0.2; filter:alpha(opacity=20); }

a {color: rgb(24,24,24);}

.jumbotron {
	background: rgb(231,224,218);
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	margin-bottom: 0px;
	padding: 0px;
}  


.jumbotron { position: relative; z-index: 5; text-align: center;}
.jumbotron  > * { text-align: center; color: #FFFFFF; }
.jumbotron h1 { padding-bottom: 20px; border-bottom: 1px solid #FFFFFF; border-bottom-color: rgba(255,255,255,0.35); display: inline-block; }

.background-white { background: #FFFFFF; }
.background-gray { background: rgb(95,87,78); }

#profile h2,#educations h2,#experiences h2,#abilities h2, #contact h2{ color: rgb(38,155,190);  }

#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon { 
	color: #DFE0E0; 
	font-size: 14px; 
	 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: #22A39F; }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; } 

#experiences .row > div { margin-bottom: 30px; }
#experiences {
	font-size: 18px;
	line-height: 18px;
}

#contact { padding-bottom: 100px; font-family: Amaranth; text-align: center; }

#github:hover, #mail:hover, #facebook:hover, #skype:hover, #linkedIn:hover, #about:hover{
	height: 4%;
	width: 10%;
	transform: scale(1.7);
	/*padding-left: 2%;*/

}
#github, #mail, #facebook, #skype, #linkedIn, #about{
	height: 4%;
	width: 10%;
}
.box-part {
	background: rgb(251,255,230);
	border:0.5px solid black;
	border-radius:20px;
    padding:60px 10px;
    margin:30px 0px;
}

#top {
	font-family: 'Kaushan Script',cursive;
}

#profile .row{
	font-family: 'Itim',cursive;
}

#educations .row{
	font-family: 'Itim',cursive;
}

#abilities .row{
	font-family: 'Itim',cursive;
}

#experiences .row{
	font-family: 'Itim',cursive;
}