@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body{
	background-color: rgb(255,255,255);
	font-size: 18px;
	font-family: 'Amaranth';
	color: rgb(91,91,91);
}

.jumbotron{
	padding-top: 0px;
}

p h2 {
	color: rgb(41,41,41);
}
font {
	color: rgb(80,174,85);
}

a:hover {
	color: rgb(138,23,26);
}
a {
	color:rgb(181,181,168);
	text-decoration-color: rgb(138,23,26); 
}

li {
	color:(41,41,41);
	font-size: 16px;
	font-family: 'Goudy Bookletter 1911', serif;
}


.footer {
	padding-top: 5%;
	font-size: 10px;
	height: 100%;
	background-color: rgb(244,244,244);
	font-family: 'Goudy Bookletter 1911', serif;
}

.header {
	font-size: 20px;
}

.connect {
 margin-top: 50px;
 font-family: 'Kaushan Script',cursive;
}

.jumbotron .container-fluid .row span:hover {
	color: rgb(80,174,85);
}

.jumbotron .container-fluid .row span{
	font-size: 25px;
	padding-left: 3px;
	padding-right: 6px;
	margin:auto;
	border:1px solid black;
	border-radius: 5px;
	border-color: rgb(157,157,157);
}

.jumbotron .container-fluid .row h4 + .tooltip > .tooltip-inner {
	background-color: rgb(217,235,207);
	color:rgb(91,91,91);
}

#github:hover, #mail:hover, #instagram:hover, #skype:hover, #linkedIn:hover, #about:hover {
	transform: scale(1.8);
}

#github, #mail, #instagram, #skype, #linkedIn, #about {
	padding-left: 0.2em;
}

.content {
margin-top:2%;
}


#link {
	height: 5%;
	width: 5%;
	border-radius: 25%;

}

.card {
	background-color: rgb(244,244,244);
	margin-top: 5%;
	margin-bottom: 10%;
	font-family: 'Yanone Kaffeesatz';
	font-size: 18px;
	word-spacing: 1px;
	letter-spacing: 0.5px;
}

#description{
	font-family: 'Yanone Kaffeesatz';
	font-size: 20px;
	word-spacing: 1px;
	letter-spacing: 0.5px;
}

#licence img{
	padding-left: 0.5%;
	height: 2%;
	width: 2%;
}


/* custom font style for contents */
#my_content {
	font-size: 20px;
	font-family: 'Goudy Bookletter 1911', serif;
}
